.controls {
  margin-top: 20px;
}

.pull-right {
  display: flex;
  justify-content: flex-end;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.form-container input,
.form-container select,
.checkbox-wrapper {
  margin-left: 0px;
  margin-top: 10px;
  margin-bottom: 20px;
  max-width: 250px;
}

.checkbox-wrapper {
  margin-top: 10px;
  margin-bottom: 20px;
}

h3 {
  font-size: 1.75rem!important;
}

.double-col-container {
  display: table;
  width: 100%;
}

.double-col-container .col-6 {
  display: table-cell;
}

ng-template {
  height: 500px;
  display: grid;
  grid-template-row: 5fr 1fr
}
