<div class="body">
  <div class="navbar">
  </div>
  <div class="container">
    <div class="page-wrapper">
      <div class="side-nav">
        <ul class="dropdown__list" role="menu">
          <li class="slds-menu__item">
            <a role="menuitem">
              <a routerLink="/requests" routerLinkActive="active">Requests</a>
            </a>
          </li>

          <li class="slds-menu__item">
            <a role="menuitem">
              <a routerLink="/requests/add" routerLinkActive="active">Add Request</a>
            </a>
          </li>
        </ul>

        <hr>

        <ul class="dropdown__list" role="menu" *ngIf="showQuickLinks">
          <li
            class="slds-menu__item slds-dropdown-trigger"
            [ngClass]="{ 'active':  currentView === 'Identity' }"
          >
              <app-link-item
                [linkTitle]="'Identity'"
                [prefix]="'1'"
                (navItemClick)="onNavItemClick($event)"
              ></app-link-item>
          </li>

          <li
            class="slds-menu__item slds-dropdown-trigger"
            [ngClass]="{ 'active':  currentView === 'PersonalContact' }"
          >
              <app-link-item
                [linkTitle]="'Personal Contact'"
                [prefix]="'2'"
                (navItemClick)="onNavItemClick($event)"
              ></app-link-item>
          </li>

          <li
            class="slds-menu__item slds-dropdown-trigger"
            [ngClass]="{ 'active':  currentView === 'Authentication' }"
          >
              <app-link-item
                [linkTitle]="'Authentication'"
                [prefix]="'3'"
                (navItemClick)="onNavItemClick($event)"
              ></app-link-item>
            </li>

          <li
            class="slds-menu__item slds-dropdown-trigger"
            [ngClass]="{ 'active':  currentView === 'EducationalBackground' }"
          >
            <app-link-item
              [linkTitle]="'Educational Background'"
              [prefix]="'>'"
              (navItemClick)="onNavItemClick($event)"
            ></app-link-item>
          </li>

          <li
            class="slds-menu__item slds-dropdown-trigger"
            [ngClass]="{ 'active':  currentView === 'ProfessionalExperience' }"
          >
            <app-link-item
              [linkTitle]="'Professional Experience'"
              [prefix]="'>'"
              (navItemClick)="onNavItemClick($event)"
            ></app-link-item>
          </li>

          <li
            class="slds-menu__item slds-dropdown-trigger"
            [ngClass]="{ 'active':  currentView === 'Interest' }"
          >
            <app-link-item
              [linkTitle]="'Interest'"
              [prefix]="'>'"
              (navItemClick)="onNavItemClick($event)"
            ></app-link-item>
          </li>

          <li
            class="slds-menu__item slds-dropdown-trigger"
            [ngClass]="{ 'active':  currentView === 'SelectedMaster' }"
          >
            <app-link-item
              [linkTitle]="'Selected Master'"
              [prefix]="'>'"
              (navItemClick)="onNavItemClick($event)"
            ></app-link-item>
          </li>

          <li
            class="slds-menu__item slds-dropdown-trigger"
            [ngClass]="{ 'active':  currentView === 'ExamResults' }"
          >
            <app-link-item
              [linkTitle]="'Exam Results'"
              [prefix]="'>'"
              (navItemClick)="onNavItemClick($event)"
            ></app-link-item>
          </li>

          <li
            class="slds-menu__item slds-dropdown-trigger"
            [ngClass]="{ 'active':  currentView === 'Recommendations' }"
          >
            <app-link-item
              [linkTitle]="'Recommendations'"
              [prefix]="'>'"
              (navItemClick)="onNavItemClick($event)"
            ></app-link-item>
          </li>
        </ul>
      </div>
      <div class="content-area">
        <div class="content-area--form-area">
          <router-outlet>
          </router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
