<div class="body">
  <div class="navbar">

  </div>
  <div class="container">
    <div class="page-wrapper">
      <div class="side-nav">
        <ul class="dropdown__list" role="menu">
          <li class="slds-menu__item">
            <a role="menuitem">
              <a routerLink="/requests" routerLinkActive="active">Requests</a>
            </a>
          </li>

          <li class="slds-menu__item">
            <a role="menuitem">
              <a routerLink="/requests/add" routerLinkActive="active">Add Request</a>
            </a>
          </li>
        </ul>
        <hr>
        <ul class="dropdown__list" role="menu">
          <li class="slds-menu__item">
            <a role="menuitem">
              <a routerLink="/requests" routerLinkActive="active">Identity</a>
            </a>
          </li>

          <li class="slds-menu__item">
            <a role="menuitem">
              <a routerLink="/requests/add" routerLinkActive="active">Personal Contact</a>
            </a>
          </li>

          <li class="slds-menu__item">
            <a role="menuitem">
              <a routerLink="/requests/add" routerLinkActive="active">Authentication</a>
            </a>
          </li>

          <li class="slds-menu__item slds-dropdown-trigger slds-dropdown-trigger_click slds-is-open">
            <a role="menuitem">
                <a routerLink="/requests/add" routerLinkActive="active">Educational Background</a>
                
            </a>
            <div class="slds-dropdown slds-dropdown_left">
              <ul class="slds-dropdown__list" role="menu" aria-label="Show More">
                <li class="slds-dropdown__item" role="presentation">
                  <a href="javascript:void(0);" role="menuitem" tabindex="0">
                    <span class="slds-truncate" title="Menu Item One">Menu Item One</span>
                  </a>
                </li>
                <li class="slds-dropdown__item" role="presentation">
                  <a href="javascript:void(0);" role="menuitem" tabindex="-1">
                    <span class="slds-truncate" title="Menu Item Two">Menu Item Two</span>
                  </a>
                </li>
                <li class="slds-dropdown__item" role="presentation">
                  <a href="javascript:void(0);" role="menuitem" tabindex="-1">
                    <span class="slds-truncate" title="Menu Item Three">Menu Item Three</span>
                  </a>
                </li>
                <li class="slds-has-divider_top-space" role="separator"></li>
                <li class="slds-dropdown__item" role="presentation">
                  <a href="javascript:void(0);" role="menuitem" tabindex="-1">
                    <span class="slds-truncate" title="Menu Item Four">Menu Item Four</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          
          <li class="slds-menu__item slds-dropdown-trigger slds-dropdown-trigger_click slds-is-open">
            <a role="menuitem">
                <a routerLink="/requests/add" routerLinkActive="active">Professional Experience</a>
                
            </a>
            <div class="slds-dropdown slds-dropdown_left">
              <ul class="slds-dropdown__list" role="menu" aria-label="Show More">
                <li class="slds-dropdown__item" role="presentation">
                  <a href="javascript:void(0);" role="menuitem" tabindex="0">
                    <span class="slds-truncate" title="Menu Item One">Menu Item One</span>
                  </a>
                </li>
                <li class="slds-dropdown__item" role="presentation">
                  <a href="javascript:void(0);" role="menuitem" tabindex="-1">
                    <span class="slds-truncate" title="Menu Item Two">Menu Item Two</span>
                  </a>
                </li>
                <li class="slds-dropdown__item" role="presentation">
                  <a href="javascript:void(0);" role="menuitem" tabindex="-1">
                    <span class="slds-truncate" title="Menu Item Three">Menu Item Three</span>
                  </a>
                </li>
                <li class="slds-has-divider_top-space" role="separator"></li>
                <li class="slds-dropdown__item" role="presentation">
                  <a href="javascript:void(0);" role="menuitem" tabindex="-1">
                    <span class="slds-truncate" title="Menu Item Four">Menu Item Four</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          
          <li class="slds-menu__item slds-dropdown-trigger slds-dropdown-trigger_click slds-is-open">
            <a role="menuitem">
                <a routerLink="/requests/add" routerLinkActive="active">Interest</a>
                
            </a>
            <div class="slds-dropdown slds-dropdown_left">
              <ul class="slds-dropdown__list" role="menu" aria-label="Show More">
                <li class="slds-dropdown__item" role="presentation">
                  <a href="javascript:void(0);" role="menuitem" tabindex="0">
                    <span class="slds-truncate" title="Menu Item One">Menu Item One</span>
                  </a>
                </li>
                <li class="slds-dropdown__item" role="presentation">
                  <a href="javascript:void(0);" role="menuitem" tabindex="-1">
                    <span class="slds-truncate" title="Menu Item Two">Menu Item Two</span>
                  </a>
                </li>
                <li class="slds-dropdown__item" role="presentation">
                  <a href="javascript:void(0);" role="menuitem" tabindex="-1">
                    <span class="slds-truncate" title="Menu Item Three">Menu Item Three</span>
                  </a>
                </li>
                <li class="slds-has-divider_top-space" role="separator"></li>
                <li class="slds-dropdown__item" role="presentation">
                  <a href="javascript:void(0);" role="menuitem" tabindex="-1">
                    <span class="slds-truncate" title="Menu Item Four">Menu Item Four</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          
          <li class="slds-menu__item slds-dropdown-trigger slds-dropdown-trigger_click slds-is-open">
            <a role="menuitem">
                <a routerLink="/requests/add" routerLinkActive="active">Selected Master</a>
                
            </a>
            <div class="slds-dropdown slds-dropdown_left">
              <ul class="slds-dropdown__list" role="menu" aria-label="Show More">
                <li class="slds-dropdown__item" role="presentation">
                  <a href="javascript:void(0);" role="menuitem" tabindex="0">
                    <span class="slds-truncate" title="Menu Item One">Menu Item One</span>
                  </a>
                </li>
                <li class="slds-dropdown__item" role="presentation">
                  <a href="javascript:void(0);" role="menuitem" tabindex="-1">
                    <span class="slds-truncate" title="Menu Item Two">Menu Item Two</span>
                  </a>
                </li>
                <li class="slds-dropdown__item" role="presentation">
                  <a href="javascript:void(0);" role="menuitem" tabindex="-1">
                    <span class="slds-truncate" title="Menu Item Three">Menu Item Three</span>
                  </a>
                </li>
                <li class="slds-has-divider_top-space" role="separator"></li>
                <li class="slds-dropdown__item" role="presentation">
                  <a href="javascript:void(0);" role="menuitem" tabindex="-1">
                    <span class="slds-truncate" title="Menu Item Four">Menu Item Four</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          
          <li class="slds-menu__item slds-dropdown-trigger slds-dropdown-trigger_click slds-is-open">
            <a role="menuitem">
                <a routerLink="/requests/add" routerLinkActive="active">Exam Results</a>
                
            </a>
            <div class="slds-dropdown slds-dropdown_left">
              <ul class="slds-dropdown__list" role="menu" aria-label="Show More">
                <li class="slds-dropdown__item" role="presentation">
                  <a href="javascript:void(0);" role="menuitem" tabindex="0">
                    <span class="slds-truncate" title="Menu Item One">Menu Item One</span>
                  </a>
                </li>
                <li class="slds-dropdown__item" role="presentation">
                  <a href="javascript:void(0);" role="menuitem" tabindex="-1">
                    <span class="slds-truncate" title="Menu Item Two">Menu Item Two</span>
                  </a>
                </li>
                <li class="slds-dropdown__item" role="presentation">
                  <a href="javascript:void(0);" role="menuitem" tabindex="-1">
                    <span class="slds-truncate" title="Menu Item Three">Menu Item Three</span>
                  </a>
                </li>
                <li class="slds-has-divider_top-space" role="separator"></li>
                <li class="slds-dropdown__item" role="presentation">
                  <a href="javascript:void(0);" role="menuitem" tabindex="-1">
                    <span class="slds-truncate" title="Menu Item Four">Menu Item Four</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          
          <li class="slds-menu__item slds-dropdown-trigger slds-dropdown-trigger_click slds-is-open">
            <a role="menuitem">
                <a routerLink="/requests/add" routerLinkActive="active">Recommendations</a>
                
            </a>
            <div class="slds-dropdown slds-dropdown_left">
              <ul class="slds-dropdown__list" role="menu" aria-label="Show More">
                <li class="slds-dropdown__item" role="presentation">
                  <a href="javascript:void(0);" role="menuitem" tabindex="0">
                    <span class="slds-truncate" title="Menu Item One">Menu Item One</span>
                  </a>
                </li>
                <li class="slds-dropdown__item" role="presentation">
                  <a href="javascript:void(0);" role="menuitem" tabindex="-1">
                    <span class="slds-truncate" title="Menu Item Two">Menu Item Two</span>
                  </a>
                </li>
                <li class="slds-dropdown__item" role="presentation">
                  <a href="javascript:void(0);" role="menuitem" tabindex="-1">
                    <span class="slds-truncate" title="Menu Item Three">Menu Item Three</span>
                  </a>
                </li>
                <li class="slds-has-divider_top-space" role="separator"></li>
                <li class="slds-dropdown__item" role="presentation">
                  <a href="javascript:void(0);" role="menuitem" tabindex="-1">
                    <span class="slds-truncate" title="Menu Item Four">Menu Item Four</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          
          <li class="slds-menu__item slds-dropdown-trigger slds-dropdown-trigger_click slds-is-open">
            <a role="menuitem">
                <a routerLink="/requests/add" routerLinkActive="active">Professional Experience</a>
                
            </a>
            <div class="slds-dropdown slds-dropdown_left">
              <ul class="slds-dropdown__list" role="menu" aria-label="Show More">
                <li class="slds-dropdown__item" role="presentation">
                  <a href="javascript:void(0);" role="menuitem" tabindex="0">
                    <span class="slds-truncate" title="Menu Item One">Menu Item One</span>
                  </a>
                </li>
                <li class="slds-dropdown__item" role="presentation">
                  <a href="javascript:void(0);" role="menuitem" tabindex="-1">
                    <span class="slds-truncate" title="Menu Item Two">Menu Item Two</span>
                  </a>
                </li>
                <li class="slds-dropdown__item" role="presentation">
                  <a href="javascript:void(0);" role="menuitem" tabindex="-1">
                    <span class="slds-truncate" title="Menu Item Three">Menu Item Three</span>
                  </a>
                </li>
                <li class="slds-has-divider_top-space" role="separator"></li>
                <li class="slds-dropdown__item" role="presentation">
                  <a href="javascript:void(0);" role="menuitem" tabindex="-1">
                    <span class="slds-truncate" title="Menu Item Four">Menu Item Four</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>

        </ul>
      </div>
      <div class="content-area">
        <div class="content-area--form-area">
          <router-outlet>
          </router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
