<div class="body">
  <div class="navbar">
  </div>
  <div class="container">
    <div class="page-wrapper">
      <div class="side-nav">
        <ul class="dropdown__list" role="menu">
          <li class="slds-menu__item">
            <a role="menuitem">
              <a routerLink="/requests" routerLinkActive="active">Requests</a>
            </a>
          </li>

          <li class="slds-menu__item">
            <a role="menuitem">
              <a routerLink="/requests/add" routerLinkActive="active">Add Request</a>
            </a>
          </li>
        </ul>

        <hr>

        <ul class="dropdown__list" role="menu">
          <li class="slds-menu__item slds-dropdown-trigger slds-dropdown-trigger_click slds-is-open">
              <app-link-item
                [linkTitle]="'Identity'"
                [prefix]="'1'"
              ></app-link-item>
          </li>

          <li class="slds-menu__item slds-dropdown-trigger slds-dropdown-trigger_click slds-is-open">
              <app-link-item
                [linkTitle]="'Personal Contact'"
                [prefix]="'2'"
              ></app-link-item>
          </li>

          <li class="slds-menu__item slds-dropdown-trigger slds-dropdown-trigger_click slds-is-open">
              <app-link-item
                [linkTitle]="'Authentication'"
                [prefix]="'3'"
              ></app-link-item>
            </li>

          <li class="slds-menu__item slds-dropdown-trigger slds-dropdown-trigger_click slds-is-open">
            <app-link-item
              [linkTitle]="'Educational Background'"
              [hasChildren]="true"
              [prefix]="'>'"
            ></app-link-item>
          </li>

          <li class="slds-menu__item slds-dropdown-trigger slds-dropdown-trigger_click slds-is-open">
            <app-link-item
              [linkTitle]="'Professional Experience'"
              [hasChildren]="true"
              [prefix]="'>'"
            ></app-link-item>
          </li>

          <li class="slds-menu__item slds-dropdown-trigger slds-dropdown-trigger_click slds-is-open">
            <app-link-item
              [linkTitle]="'Interest'"
              [hasChildren]="true"
              [prefix]="'>'"
            ></app-link-item>
          </li>

          <li class="slds-menu__item slds-dropdown-trigger slds-dropdown-trigger_click slds-is-open">
            <app-link-item
              [linkTitle]="'Selected Master'"
              [hasChildren]="true"
              [prefix]="'>'"
            ></app-link-item>
          </li>

          <li class="slds-menu__item slds-dropdown-trigger slds-dropdown-trigger_click slds-is-open">
            <app-link-item
              [linkTitle]="'Exam Results'"
              [hasChildren]="true"
              [prefix]="'>'"
            ></app-link-item>
          </li>

          <li class="slds-menu__item slds-dropdown-trigger slds-dropdown-trigger_click slds-is-open">
            <app-link-item
              [linkTitle]="'Recommendations'"
              [hasChildren]="true"
              [prefix]="'>'"
            ></app-link-item>
          </li>

          <li class="slds-menu__item slds-dropdown-trigger slds-dropdown-trigger_click slds-is-open">
            <app-link-item
              [linkTitle]="'Professional Experience'"
              [hasChildren]="true"
              [prefix]="'>'"
            ></app-link-item>
          </li>
        </ul>
      </div>
      <div class="content-area">
        <div class="content-area--form-area">
          <router-outlet>
          </router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
