.link-item-wrapper:hover {
  cursor: pointer;
}

.link-item-wrapper:before {
  content: attr(data-prefix);
  position: absolute;
  left: -30px;
  top: 0;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  color: white;
  text-align: center;
  background: #16325c;
  transition: all .2s ease-in-out;
}

.link-item-wrapper.expanded:before {
  transform: rotate(90deg);
}

.drop-down--items {
  color: #16325c;
  height: 0;
  overflow: hidden;
  transition: height .3s ease-in-out;
}

.drop-down--items li {
  padding-bottom: 10px;
}

.drop-down--items.expanded {
  height: 50px;
}
