<div
  class="link-item-wrapper"
  [ngClass]="isCollapsed ? 'collapsed' : 'expanded'"
  [attr.data-prefix]="prefix"
  (click)="handleClick()"
>
  <p *ngIf="hasChildren">{{ linkTitle }}</p>

  <a role="menuitem" *ngIf="!hasChildren">
    <a routerLink="#" routerLinkActive="active">{{ linkTitle }}</a>
  </a>
  <div *ngIf="hasChildren" class="drop-down--items" [ngClass]="isCollapsed ? 'collapsed' : 'expanded'">
    <ul role="menu" aria-label="Show More">
      <li role="presentation">
        <a href="javascript:void(0);" role="menuitem" tabindex="0">
          <span class="slds-truncate" title="Menu Item One">Menu Item One</span>
        </a>
      </li>
      <li role="presentation">
        <a href="javascript:void(0);" role="menuitem" tabindex="0">
          <span class="slds-truncate" title="Menu Item One">Menu Item two</span>
        </a>
      </li>
    </ul>
  </div>

</div>
